<!doctype html>
<html lang="en" class="borderbox">

<head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/mweb-typo.css">
</head>

<body>
        <nav>
                <a href="/">首页</a>
                <a href="/corewar/">CoreWar中文文档</a>
                <a href="/kardsdeckbuilder/">Kards卡组编辑器</a>
                <a href="/scr/readme">Scratch作品</a>
        </nav>
        <section >
                {{ content }}
        </section>
</body>

</html>